@import '../../../../styles/variables';

.banner {
  min-height: 392px;
  background-image: linear-gradient(147deg, $darkBlue 0%, $blueTextColor 100%);
  padding: 32px 34px 0 0;
    .back {
      margin-bottom: 23px;
      .btn-back {
      color: $white;
      font-size: 16px;
      background: url(/assets/i/arrow-left-white.svg) left center no-repeat;
      background-size: 6px 12px;
      padding-left: 33px;
      &:hover {
        opacity: 0.85;
      }
      }
    }
    .txt-box {
      margin-right: 30px;
      .title {
      color: $white;
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 25px;
      }
      .crums {
            padding-bottom: 10px;
            li {
                display: inline-block;
                color: #fff;
            }
            .right-arrow {
                background: url(/assets/i/right-white-arrow.svg) center center no-repeat;
                background-size: 5px;
                margin: 0 5px;
                display: inline-block;
                width: 10px;
                height: 10px;
                vertical-align: middle;
            }
            .navs {
                line-height: 18px;
                color: #ffffff;
                font-size: 12px;
            }
        }
      p {
      color: $white;
      font-size: 16px;
      margin-bottom: 23px;
      margin-right: 315px;
      }
      .search {
        display: flex;
      -webkit-display: flex;
      -webkit-justify-content: space-between;
        justify-content: space-between;
      height: 75px;
      border-radius: 5px;
      background-color: $white;
      .inputs {
        flex: 1;
      }
      .btn-search {
        width: 157px;
        height: 75px;
        background-color: #9b9b9b;
        text-align: center;
        border-radius: 0 5px 5px 0;
        pointer-events: none;
        span {
          line-height: 75px;
          color: $white;
          font-size: 16px;
          text-transform: uppercase;
          background: url(/assets/i/icon-search.svg) left center no-repeat;
          background-size: 18px;
          padding-left: 30px;
        }
        &:hover {
          opacity: 0.85;
        }
      }
      .inputs {
        height: 75px;
        border: none;
        padding-left: 30px;
        input {
          font-size: 18px;
        }
      }
      }
      
    }
}

.right-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

@media (max-width: 1550px) {
    // .banner
    .banner {
        .txt-box {
            p {
                margin-right: 0;
            }
        }
    }
}