<div class="info-txt">
  <p>
    Don't worry!
  </p>
  <p>
    Just fill in your email and we'll help you to reset your password
  </p>
</div>
<!--end .forgot-txt-->
<form [formGroup]="formGroup" class="login-form">
  <div class="inputs"
    [ngClass]="{'error': submitted && f.email.errors}">
    <input type="email" placeholder="Email" 
      formControlName="email"/>
  </div>
  <a href="javascript:;" class="btn btn-black" (click)="clickSendMessage()">
    SEND ME A NEW PASSWORD
  </a>
</form>
<!--end .login-form-->