@import '../../../../../styles/variables';

.inputs {
    margin-bottom: 11px;
}
.check-bar {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 50px;
}

.btn-black {
    width: 100%;
    margin-top: 35px;
}
.blue-links {
    color: $darkBlue;
    font-size: 16px;
    line-height: 23px;
}
.info-txt {
    padding-bottom: 4px;
    color: #003552;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    p {
        padding-bottom: 5px;
    }
}
