<h2 class="title">FAQs </h2>
<div class="txt-p">
  <p>
    APIs from various categories are available here. Developers can easily search, try and use the API. 
  </p>
  <p>
    Complete documentation makes the application easy.
  </p>
</div>
<div class="question-content">
  <div class="items">
    <div class="title">
      General Questions <span class="num">(4)</span>
    </div>
    <p>
      The most happiest time of the day!. Morbi sagittis, sem quis 
      lacinia faucibus, orci ipsum gravida tortor, vel interdum.
    </p>
    <div class="question-list">
      <ul>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--end .items-->
  <div class="items">
    <div class="title">
      General Questions <span class="num">(4)</span>
    </div>
    <p>
      The most happiest time of the day!. Morbi sagittis, sem quis 
      lacinia faucibus, orci ipsum gravida tortor, vel interdum.
    </p>
    <div class="question-list">
      <ul>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--end .items-->
  <div class="items">
    <div class="title">
      General Questions <span class="num">(4)</span>
    </div>
    <p>
      The most happiest time of the day!. Morbi sagittis, sem quis 
      lacinia faucibus, orci ipsum gravida tortor, vel interdum.
    </p>
    <div class="question-list">
      <ul>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--end .items-->
  <div class="items">
    <div class="title">
      General Questions <span class="num">(4)</span>
    </div>
    <p>
      The most happiest time of the day!. Morbi sagittis, sem quis 
      lacinia faucibus, orci ipsum gravida tortor, vel interdum.
    </p>
    <div class="question-list">
      <ul>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
        <li>
          <div class="lefts">
            <a href="javascript:;" class="icon info"></a>
            <span class="txt">Getting Started With IINAPI?</span>
          </div>
          <div class="rights">
            <a href="javascript:;" class="btn-add"></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--end .items-->
</div>
<!--end .question-content-->