@import '../../../../../styles/variables';

//.form-box
.form-box {
    padding: 32px 0 20px 0;
    .form-title {
        color: $black;
        font-size: 23px;
        font-weight: 700;
        letter-spacing: 0.26px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .input-control {
        margin-bottom: 18px;
        &.mright-22 {
            margin-right: 22px;
        }
        label {
            display: block;
            color: $black;
            font-size: 16px;
            letter-spacing: 0.18px;
            margin-bottom: 13px;
            .color-red {
                color: $redColor;
            }
        }
        .w-559 {
            width: 559px;
        }
    }
    .btn-submit {
        margin-top: 50px;
        margin-bottom: 14px;
        display: block;
        text-align: center;
        line-height: 51px;
        width: 559px;
        height: 51px;
        border-radius: 5px;
        background-color: $darkBlue;
        color: $white;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
            opacity: 0.85;
        }
    }
    // .bottom-tips
    .bottom-tips {
        color: $grey;
        font-size: 16px;
        font-weight: 400;
        background: url("/assets/i/icon-tips-blue.svg") left center no-repeat;
        background-size: 20px;
        padding-left: 36px;
    }
}