/* variable */
$white: #fff;
$red: #f00;
$black: #000;
$greyBg: #f6f9fc;
$grey: #7f7f7f;
$greyLineColor: #5a6872;
$inputborder: #dbdded;
$darkBlue: #003552;
$placeColor: #80828c;
$redColor: #d0021b;
$blueColor: #002d62;
$blueBg: #0069a3;
$blueTextColor: #00477b;
$blueBorderColor: #1b8bc8;