<div class="login-main">
  <div class="center">
    <div class="logo-area">
      IINAPI
    </div>
    <div class="login-title flex-grid">
      <div class="left-txt">
        Log in
      </div>
      <a href="javascript:;" class="blue-link right-arrow">Register</a>
    </div>
    <!--end .login-title-->
    
    <app-sd-login-form></app-sd-login-form>
    
    <div class="line flex-grid">
      <div class="lefts"></div>
      <span class="center-txt">Or log in with ...</span>
      <div class="rights"></div>
    </div>
    <div class="three-items flex-grid">
      <a href="javascript:;" class="items">
        <i class="icon icon-git"></i>
        <span class="txt">GITHUB</span>
      </a>
      <a href="javascript:;" class="items">
        <i class="icon icon-google"></i>
        <span class="txt">google</span>
      </a>
      <a href="javascript:;" class="items">
        <span class="txt">SSO</span>
      </a>
    </div>
    <!--end .three-items-->
  </div>
</div>