<div class="login-main">
  <div class="center">
    <div class="logo-area">
      IINAPI
    </div>
    <div class="login-title flex-grid">
      <div class="left-txt">
        Thank You!
      </div>
    </div>
    <!--end .login-title-->

    <div class="thank-you-form">
      <p>
        We have build recommend a list of APIs that are suitable for you, Enjoy
        your dashboard and don't hesitate to ask us if you have questions!
      </p>
      <a [routerLink]="['/dashboard']" class="btn btn-blue">
        Go to Dashboard
      </a>
    </div>
    <!--end .thank-you-form-->
  </div>
</div>