<ul>
  <li><a [routerLink]="['/login']">login</a></li>
  <li><a [routerLink]="['/forgot-password']">forgot-password</a></li>
  <li><a [routerLink]="['/survey']">survey</a></li>
  <li><a [routerLink]="['/landing']">landing</a></li>
  <li><a [routerLink]="['/landing/more-api-page']">landing/more-api-page</a></li>
  <li><a [routerLink]="['/landing/detail-api-page/0']">landing/detail-api-page/0</a></li>
  <li><a [routerLink]="['/landing/support-page']">landing/support-page</a></li>
  <li><a [routerLink]="['/dashboard']">dashboard</a></li>
  <li><a [routerLink]="['/dashboard/more-api-page']">dashboard/more-api-page</a></li>
  <li><a [routerLink]="['/dashboard/detail-api-page/0']">dashboard/detail-api-page/0</a></li>
  <li><a [routerLink]="['/dashboard/report-api-page/0']">dashboard/report-api-page/0</a></li>
  <li><a [routerLink]="['/profile']">profile</a></li>
  <li><a [routerLink]="['/add-api']">add-api</a></li>
  <li><a [routerLink]="['/manage-api/default-page/0']">manage-api</a></li>
  <li><a [routerLink]="['/manage-api/analytics-page/0']">manage-api/analytics-page</a></li>
  <li><a [routerLink]="['/manage-api/support-page/0']">manage-api/support-page</a></li>
</ul>