<h2 class="title">News & Event</h2>
<div class="txt-p w-556">
  <p>
    Read and follow the latest developments regarding IINAPI to impress you and make your company dream happens.
  </p>
</div>
<div class="flex-box m-103">
  <div class="news">
    <div class="pic"><img src="/assets/i/bitmap-1.png" alt="img"></div>
    <div class="padding">
      <div class="tit">Microservice Architecture</div>
      <div class="date">Oct 26, 2018 </div>
      <p>
        Build truly serverless apps with new data storage locations, lower prices, improved usage tracking, and more.
      </p>
      <div class="btn-link">
        <a href="javascript:;">READ MORE</a>
      </div>
    </div>
  </div>
  <div class="news">
    <div class="pic"><img src="/assets/i/bitmap-2.png" alt="img"></div>
    <div class="padding">
      <div class="tit">IIN API Finance Workhsop</div>
      <div class="date">Oct 26, 2018 </div>
      <p>
        Build truly serverless apps with new data storage locations, lower prices, improved usage tracking, and more.
      </p>
      <div class="btn-link">
        <a href="javascript:;">READ MORE</a>
      </div>
    </div>
  </div>
  <div class="news">
    <div class="pic"><img src="/assets/i/bitmap-3.png" alt="img"></div>
    <div class="padding">
      <div class="tit">IIN API Confrence</div>
      <div class="date">Oct 26, 2018 </div>
      <p>
        Build truly serverless apps with new data storage locations, lower prices, improved usage tracking, and more.
      </p>
      <div class="btn-link">
        <a href="javascript:;">READ MORE</a>
      </div>
    </div>
  </div>
</div>