<div class="group">
  <div class="tit"><i class="icon icon-id"></i><span>ID VERIFICATION</span></div>
  <p class="txt-p">
    {{dataList['idVveification']}}
  </p>
</div>
<!-- end .group -->
<div class="group">
  <div class="tit"><i class="icon icon-payment"></i><span>PAYMENT BEHAVIOR</span></div>
  <p class="txt-p">
    {{dataList['paymentBehavior']}}
  </p>
</div>
<!-- end .group -->
<div class="group">
  <div class="tit"><i class="icon icon-timetable"></i><span>LENGTH OF STAY</span></div>
  <p class="txt-p">
    {{dataList['lengthOfStay']}}
  </p>
</div>
<!-- end .group -->