<h2 class="title">Trusted by the largest Company</h2>
<div class="txt-p w-556">
  <p class="font-18">
    Millions of people around the world have already made IINAPI the place where their dream happens.
  </p>
</div>
<div class="flex-box m-30 mb-68">
  <div class="panel">
    <p>
      Life before Company was very chaotic - we got a lot of phone calls, a lot of mistyped orders. So with Company, the ability to see the order directly from the customer makes it so streamlined.
    </p>
    <div class="author">
      <div class="pic"><img src="/assets/i/renee.png" alt="img"></div>
      <div class="name">Renee Houston, Cool Magma</div>
    </div>
  </div>
  <div class="panel">
    <p>
      There's no way we could have hired these many people and gotten so much business had we not had all of those back-office systems figured out. It's been easier growing our company with a system that is so easy and scalable.
    </p>
    <div class="author">
      <div class="pic"><img src="/assets/i/sherry.png" alt="img"></div>
      <div class="name">Sherry Steele, MarkPlus Inc</div>
    </div>
  </div>
  <div class="panel">
    <p>
      Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys truly kick ass. Thanks for being so awesome. High fives!
    </p>
    <div class="author">
      <div class="pic"><img src="/assets/i/vanessa.png" alt="img"></div>
      <div class="name">Vanessa Jensen, K-Mart Inc</div>
    </div>
  </div>
</div> 
<div class="bottom-btn mb-126">
  <a href="javascript:;">Check All Testimonial</a>
</div>
<div class="flex-box m-30 mb-130">
  <div class="brand"><img src="/assets/i/visa-pay-logo.svg" alt="img"></div>
  <div class="brand"><img src="/assets/i/flaticon.svg" alt="img"></div>
  <div class="brand"><img src="/assets/i/paypal.svg" alt="img"></div>
  <div class="brand"><img src="/assets/i/shopify.svg" alt="img"></div>
  <div class="brand"><img src="/assets/i/amazon-logo.svg" alt=""></div>
</div>